.nestedMenu__list{
    display: flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
.nestedMenu__link{
    text-decoration: none;
    font-family: sans-serif;
}